PROXY_NETWORK=proxy

APP_CONTAINER_NAME=diplom-design-hope-app
APP_NETWORK_ALIAS=diplom-design-hope-app
APP_IMAGE=diplom-design-hope-app:prod

DB_CONTAINER_NAME=diplom-design-hope-db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me_strong_password
POSTGRES_DB=diplom_design_hope

SESSION_SECRET=change_me_to_a_random_32_plus_char_secret

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_THREAD_ID=

TZ=Europe/Moscow
