services:
  db:
    image: postgres:16
    container_name: diplom_postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: diplom_design_hope
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
