services:
  app:
    build: .
    container_name: diplom_app
    restart: always
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
      NEXT_TELEMETRY_DISABLED: "1"
      DATABASE_URL: postgresql://postgres:postgres@db:5432/diplom_design_hope
      SESSION_SECRET: change_me
    depends_on:
      - db
  db:
    image: postgres:16
    container_name: diplom_postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: diplom_design_hope
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
